		* {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

p {
    color: grey
}

#heading {
    text-transform: uppercase;
    color: #758ad0;
    font-weight: normal
}

#msform {
    text-align: center;
    position: relative;
    margin-top:0px
}

#msform fieldset {
    background: transparent;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: left;/* min-height: 350px; */
}
.form-card p{ text-align: center; font-size: 18px;
    font-weight: 600;
    color: #000; }
#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #758ad0;
    outline-width: 0
}

#msform .action-button {
   position: relative;
    display: inline-block;
    padding: 0 40px;
    background-color: #758ad1;
    color: #ffffff;
    font-size: 20px;
    line-height: 55px;
    font-weight: 400;
    text-transform: capitalize;
    border-radius: 8px;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear; float:right; width:200px; margin-left: 20px;
}



#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #5d72b8
}

#msform .action-button-previous {
position: relative;
    display: inline-block;
    padding: 0 40px;
    background-color: #1c4a7b;
    color: #ffffff;
    font-size: 20px;
    line-height: 55px;
    font-weight: 400;
    text-transform: capitalize;
    border-radius: 8px;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear; float:right; width:200px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #39509c
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 20px;
    color: #000;
    margin:45px 0 20px 0;
    font-weight: 600;
    text-align: center;
}

.purple-text {
    color: #000;
    font-weight: normal;font-size: 22px;
}
.purple-text strong{color: #758ad0;font-size: 40px;}
.steps {
    font-size: 20px;
    color: #748ad0;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: right;position: relative;
    top: -90px;
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #758ad0
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 11%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 30px;
    height: 30px;
    line-height: 28px;
    display: block;
    font-size: 14px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 0 auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 15px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #758ad0
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #758ad0
}

.fit-image {
    width: 100%;
    object-fit: cover
}

.form-box{
    padding: 20px 40px !important;    margin-bottom: 1.875rem;
    background-color: transparent;
    transition: all .5s ease-in-out;
    position: relative;
    border: 0px solid transparent;
    border-radius: 1.25rem;
    /* box-shadow: 0px 0px 13px 0px rgb(82 63 105 / 5%); */
    height: calc(100% - 30px);}
	
header .navbar .navbar-brand { margin:0 auto}
.logo_info {
    display: flex;
    align-items: center;
    width: 100%;
}

.success-animation { margin:30px  auto;}

.checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #758ad0;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #758ad0;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position:relative;
    top: 5px;
    right: 5px;
   margin: 0 auto;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #d0d0d0;
    fill: #f7f7f7;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
 
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}

.text-blk{ color:#000}
.plus-box h2{ font-size:20px; color:#000; border-bottom:solid 2px #a9b7e6; padding-bottom: 5px;margin-bottom: 20px;}
.plus-box ul li{ font-size:13px;padding-bottom: 15px;color: #000;}
.plus-box ul li i{ margin-right:10px}
.plus-box ul li span{     font-size: 11px;
    background: #758ad1;
    padding:4px 0px;
    float: right;
    line-height: 18px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;color: #fff;}

    .bg-img{ background:#fff;   }

    .feedback {
  position: relative;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  top: -300px;
  -webkit-animation: transitionDown 300ms ease 1s forwards;
          animation: transitionDown 300ms ease 1s forwards;
}

.feedback {
  width: 100%;
  /* max-width: 600px; */
  text-align: center;
  background: #ffffff;
  /* border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0px 15px 40px rgba(33, 37, 42, 0.12), 0px 5px 12px rgba(33, 37, 42, 0.07); */
}
.feedback__body {
  padding: 30px 0 40px 0;
}
.feedback__header {
  height: 0.5rem;
}
.feedback__item-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.feedback__direction-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
    margin: 1rem 28px;
}
.feedback__direction {
  color: #000;
}
.feedback__item {
  position: relative;
  width: 10%;
}
.feedback__label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #adb5bd;
  color: #adb5bd;
  border-radius: 50%;
  margin: auto;
  display: block;
  transition: all 200ms ease;
}
@media screen and (max-width: 600px) {
  .feedback__label {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}
.feedback__label:hover, .feedback__label:focus {
  box-shadow: 0px 0px 0px 3px rgba(172, 189, 243, 0.4);
  border-color: #acbdf3;
  transition: all 200ms ease;
}
.feedback__input {
  opacity: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
}
.feedback__input:checked + .feedback__label {
  background: #748ad0;
  border-color: #acbdf3;
  color: #ffffff;
  text-shadow: 0px 2px 2px rgba(33, 37, 42, 0.3);
  transition: all 200ms ease;
}

.name {
  font-weight: 700;
}
.name--company:after {
  content: "Green Apple";
}

.u-bg--custom {
  background: #ff7a59 !important;
}

.u-text--custom {
  color: #ff7a59 !important;
}

@-webkit-keyframes transitionDown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes transitionDown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

.chkbox {
  padding: 20px 20px 0px 20px;
    text-align: center;
}

.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #758ad1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
}

.form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #758ad1;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.border-bt{border-bottom: solid 1px #ccc; margin-bottom: 40px;}

.range-slider {
  margin:0px 0 0 0%;
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px)) !important;
  height: 10px;
  border-radius: 5px!important;
  background: #d7dcdf!important;
  outline: none;
  padding: 0!important;
  margin: 0;border: 0 !important;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #758ad1;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #758ad1;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #758ad1;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -moz-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
  background: #1abc9c;
}
.range-slider__range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #758ad1;
  padding: 5px 10px;
  margin-left: 8px;
}
.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #758ad1;
  border-bottom: 7px solid transparent;
  content: "";
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}
.range-slider h3.sub-q {
    font-size:16px; color: #000;font-weight: bold;
}
.pad-card{ padding: 25px 20px }
.small-text{ font-size: 13px; color: #000 }