/* 
h3{
    color:blue;
} */

.container {
    max-width: 1200px;
    margin: 0 auto;


}

/* .container div{
    margin:10px;
} */

.container div label {
    cursor: pointer;
    font-weight: 600;
    vertical-align: middle;
    border-color: #F0F0F0;
}

.container div label input[type="checkbox"] {
    display: none;
    border: 1px solid black;
}

.container div label span {
    position: relative;
    display: inline-block;
    text-align: center;
    /* background: White; */
    padding: 15px;
    /* color:#555;
    text-shadow:0 1px 4px rgba(0,0,0,.5); */
    border-radius: 10px;
    font-size: 15px;
    /* transition: 0.5s; */
    user-select: none;
    overflow: hidden;
    border: 0px solid black;
    border-radius: 30px;
    box-shadow: 0px 1px 4px 0px grey;
    width: 160px;

}


.container div label .unf {
    background-color: lightgrey;
    position: relative;
    display: inline-block;
    text-align: center;
    /* background: White; */
    padding: 15px;
    /* color:#555;
    text-shadow:0 1px 4px rgba(0,0,0,.5); */
    border-radius: 10px;
    font-size: 15px;
    /* transition: 0.5s; */
    user-select: none;
    overflow: hidden;
    border: 0px solid black;
    border-radius: 30px;
    box-shadow: 0px 1px 4px 0px grey;
    width: 160px;

}



.container div label span:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;

}

.container div label input[type="checkbox"]:checked~span {
    background: #ed143d;
    color: #fff;
    /* box-shadow: 0 1px 10px #21558F; */
    width: 160px;
}